{
 "awsrds_postgres": [
  {
   "name": "pg-1",
   "endpoint": "",
   "port": 5432,
   "username": "",
   "password": "",
   "databases": [
    "postgres"
   ],
   "alertrule": "default-rule",
   "alertchannel": "default-channel",
   "enabled": false
  },
  {
   "name": "pg-2",
   "endpoint": "",
   "port": 5432,
   "username": "",
   "password": "",
   "databases": [
    "postgres"
   ],
   "alertrule": "default-rule",
   "alertchannel": "default-channel",
   "enabled": false
  }
 ],
 "awsrds_mysql": [
  {
   "name": "mysql-1",
   "endpoint": "",
   "port": 3306,
   "username": "",
   "password": "",
   "databases": null,
   "alertrule": "default-rule",
   "alertchannel": "default-channel",
   "enabled": false
  },
  {
   "name": "mysql-2",
   "endpoint": "",
   "port": 3306,
   "username": "",
   "password": "",
   "databases": null,
   "alertrule": "default-rule",
   "alertchannel": "default-channel",
   "enabled": false
  }
 ],
 "awselasticache_redis": [
  {
   "name": "redis-1",
   "endpoint": "",
   "port": 6379,
   "password": "",
   "alertrule": "default-rule",
   "alertchannel": "default-channel",
   "enabled": false
  }
 ]
}
