{
    "disk": {
        "exclude_disks": []
    },
    "network": {
        "exclude_interfaces": []
    },
    "process_monitor": {
        "process_names": []
    },
    "postgres": {
        "port": 5432,
        "databases": [],
        "username": "archagent",
        "password": "archagent"
    },
    "aerospike": {
        "port": 3000
    },
    "rethinkdb": {
        "database": "rethinkdb",
        "port": 28015,
        "username": "",
        "password": ""
    },
    "redisMulti": [
        {
            "port": 6379,
            "password": ""
        },
        {
            "port": 6378,
            "password": ""
        }
    ],
    "memcached": {
        "port": 11211
    },
    "mysql": {
        "port": 3306,
        "username": "archagent",
        "password": "archagent"
    },
    "elasticsearch": {
        "port": 9200
    },
    "apache": {
        "port": 80,
        "path": "/server-status?auto",
        "username": "",
        "password": ""
    },
    "nginx": {
        "port": 80,
        "path": "/nginx_status"
    },
    "haproxy": {
        "socket_path": "unix:///run/haproxy/admin.sock",
        "exclude_frontend": [],
        "exclude_backend": []
    },
    "mongodb": {
        "port": 27017,
        "username": "archagent",
        "password": "archagent"
    },
    "rabbitmq": {
        "port": 15672,
        "username": "guest",
        "password": "guest"
    },
    "nsqd": {
        "port": 4151
    },
    "cassandra": {
        "port": 8778,
        "username": "",
        "password": ""
    },
    "docker": {
        "endpoint": "unix:///var/run/docker.sock",
        "containers_include": null,
        "containers_exclude": null,
        "ssl_cert": "",
        "ssl_key": "",
        "ssl_ca": "",
        "insecure_skip_verify": false
    },
    "kafka": {
        "port": 8778,
        "username": "",
        "password": ""
    },
    "zookeeper": {
        "port": 2181
    }
}